.kotak {
    width: 30px;
    height: 30px;
    background-color: #BADA55;
    text-align: center;
    line-height: 30px;
    margin: 30px;
    float: left;
    transition: 1s;
}

.kotak:hover {
    transform: rotate(360deg);
    border-radius: 50%;
}

.clear {
    clear: both;
}